@import "common";//引入公共的scss文件
#banner{
    width:$size100;
    .ban-wrap{
        width:$size100;
        height: 400px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
.ban-list{
    background-color: rgb(204, 102, 102);
    width:$size100;
    height:$size100;
}
.ban-tab{
    margin: 0 auto;
    height: 40px;
    position: relative;
    width: $wrap_width;
    top: -30px;
    z-index: 100;
    cursor: pointer;
    background-color: rgb(155, 14, 14);
    ul{
        background-color: rgb(155, 14, 14);
    }
    li{
        float: left;
    }
    li:nth-child(2){
        margin: 0 8px;
    }
}